---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Steven Mendez's Portfolio">
  <main>
    <Navbar />
    <Header />
    <About />
    <Projects />
    <Contact />
    <Footer />
  </main>
</Layout>

<style></style>
