---
title: 'About';
---

<section id="about" class="about-section">
  <h2>About Me</h2>
  <p>
    Hi there! I'm Steven, a passionate software developer with a strong focus on
    backend development. I have experience working with a variety of
    technologies, including C#, .NET, JavaScript, TypeScript, and React.
  </p>
  <p>
    While my expertise lies in backend development, I'm not limited to just
    that. I enjoy exploring different areas of software development and
    constantly learning new technologies and frameworks.
  </p>
  <p>
    I believe in writing clean, maintainable code and delivering high-quality
    solutions that meet the needs of users. I enjoy collaborating with
    cross-functional teams and solving complex problems to create innovative
    software solutions.
  </p>
  <p>
    I'm always looking for new challenges and opportunities to grow as a
    developer.
  </p>
</section>
