---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to my professional portfolio. Here, you'll discover my skills in software development, my projects, and my experience working in diverse teams. Explore to learn more about my journey and capabilities in the tech industry."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    /* Typography Variables */
    --font-family: 'Inter Variable', sans-serif, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
    --font-line-height: 1.5;
    --font-text-size-adjust: 100%;
    --font-tab-size: 4;

    /* Color Variables */
    --color-text: #f2f6ec;
    --color-primary: #44147c;
    --color-secondary: #147c78;
    --color-tertiary: #7c1418;
    --color-quaternary: #4c7c14;
    --color-background: #101820;
    --color-background-opacity: 1;
    --color-background-gradient: linear-gradient(
      83.21deg,
      var(--color-primary) 0%,
      var(--color-secondary) 100%
    );
  }

  body {
    /* Typography */
    font-family: var(--font-family);
    line-height: var(--font-line-height);
    color: var(--color-text);

    /* Layout */
    overflow-x: hidden;

    /* Background */
    background-color: var(--color-background);

    /* Text size adjustments */
    -webkit-text-size-adjust: var(--font-text-size-adjust);
    text-size-adjust: var(--font-text-size-adjust);

    /* Tab size adjustments */
    -moz-tab-size: var(--font-tab-size);
    -o-tab-size: var(--font-tab-size);
    tab-size: var(--font-tab-size);
  }
</style>
